
<div class="padder">


	
<form name="validate" class="form-validation">
<div ng-if="validate.$invalid ?  (validador.value = false ): (validador.value = true)">
</div>
	
  <div class="row">
		<div class="form-group">
		<label class="col-sm-2 control-label">Parametro:</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="ingrese el nombre del parametro" ng-model="parametro.parameter" required>
			</div>
		</div>
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="form-group">
		<label class="col-sm-1 control-label">Estado: </label> 
		<div class="col-sm-10" ng-init= "produto.ivaLoader= true">
					<label class="i-switch m-t-xs m-r"> <input ng-model="parametro.status" type="checkbox" checked /> <i></i></label>
		</div>
		</div>

		
    </div>
  </form>
</div>
