<div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active" ng-repeat="phone in phoneList">
            <div class="radio">
                <label class="i-checks">
                    <input type="radio" name="a" value="phone" ng-click="vm.selectPhone(phone)"/>
                    <i></i>
                    {{phone.number}}
                </label>
            </div>
        </li>
    </ul>
</div>