<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.HEADER">Navigation</span>
    </li>


    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-th-large icon text-success"></i>
            <span class="font-bold">Administraci&oacute;n</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>Administraci&oacute;n</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.administracion.autor">
                    <span>Autor</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.administracion.categoria">
                    <span>Categor&iacute;a</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.administracion.editorial">
                    <span>Editorial</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.administracion.libro">
                    <span>Libro</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.administracion.estanteria">
                    <span>Estanter&iacute;a</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="line dk"></li>
    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-briefcase icon"></i>
            <span class="font-bold">Configuraci&oacute;n</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href>
                    <span>Configuraci&oacute;n</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.administracion.editorialcategoria">
                    <span>Editorial Categor&iacute;a</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.administracion.libroautor">
                    <span>Libro Autor</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
