<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController as vm"
     ng-init="app.settings.container = false;">
    <div class="m-b-lg">

        <form name="formLogin" class="form-validation" ng-submit="login(vm.user)">
            <button id="btnLogiqn" type="submit" class="btn btn-lg btn-primary btn-block" ng-click="redireccionar()"
                    ng-disabled='formLogin.$invalid'>
                Ingresar
            </button>
        </form>
    </div>


    <div class="line line-dashed"></div>
</div>
<div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>