	<form name="product" class= "form-validation">
		<div ng-if="product.$invalid ?  (validador.value = false ): (validador.value = true)">
		</div>
				<label class="col-sm-2 control-label">PRODUCTO: </label> 
				<input style="text-transform:uppercase" type="text" ng-model="produto.name" class="form-control" placeholder="ingrese el producto o servicio" required />
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<label class="col-sm-2 control-label">PRECIO: </label> 
				<input type="number" ng-model="produto.price" class="form-control" placeholder="ingrese precio del producto" required />
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<label class="col-sm-1 control-label">IVA: </label> 
				
				<div class="col-sm-10" ng-init= "produto.ivaLoader= true">
					<label class="i-switch m-t-xs m-r"> <input ng-model="produto.ivaLoader" type="checkbox" checked /> <i></i></label>
				</div>
				</br>
	</form>	

