<div ng-controller="AutorController as vm">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Libreria</h1>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Autores
        </div>

        <div>
            <button ng-click="vm.buscarAction()">Autores</button>
            <button ng-click="vm.nuevoAction()">Nuevo</button>
        </div>

        <div class="panel-body" ng-if="!vm.objEntity">

            <table class="table table-striped b-t b-b">
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Cedula</td>
                    <td>Activo</td>
                    <td>Acci&oacute;n</td>
                </tr>
                <tr ng-repeat="autor in vm.lstEntities">
                    <td>{{autor.nombre}}</td>
                    <td>{{autor.apellido}}</td>
                    <td>{{autor.identificacion}}</td>
                    <td>{{autor.activo}}</td>
                    <td>
                        <button data-ng-click="vm.editarAction(autor)">Editar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" ng-if="vm.objEntity">
            <form>

                <!-- Material input text -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.nombre">
                    <label>Nombre</label>
                </div>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.apellido">
                    <label>Apellido</label>
                </div>

                <!-- Material input subject -->
                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.identificacion">
                    <label>Identificaci&oacute;n</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>

                    <input type="checkbox" class="form-control small" ng-model="ctrl.objEntity.activo">
                    <label>Estado</label>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" ng-click="vm.guardarAction()">Guardar
                        <i class="fa fa-paper-plane-o ml-2"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>


</div>
