<div ng-controller="EditorialCategoriaController as vm">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Libreria</h1>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Editorial categor&iacute;a
        </div>

        <div>
            <button ng-click="vm.buscarAction()">Editorial categor&iacute;a</button>
            <button ng-click="vm.nuevoAction()">Nuevo</button>
        </div>

        <div class="panel-body" ng-if="!vm.objEntity">

            <table class="table table-striped b-t b-b">
                <tr>
                    <td>Editorial</td>
                    <td>Categor&iacute;a</td>
                    <td>Activo</td>
                    <td>Acci&oacute;n</td>
                </tr>
                <tr ng-repeat="autor in vm.lstEntities">
                    <td>{{autor.editorial.nombre}}</td>
                    <td>{{autor.categoria.nombre}}</td>
                    <td>{{autor.activo}}</td>
                    <td>
                        <button data-ng-click="vm.editarAction(autor)">Editar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" ng-if="vm.objEntity">
            <form>

                <!-- Material input text -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <select name="categoria" ng-model="vm.objEntity.categoria" ng-selected="categoria"
                            class="form-control"
                            ng-options="categoria.nombre for categoria in vm.lstCategorias">
                        {{categoria}}
                    </select>
                    <label>Categor&iacute;a</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <select name="editorial" ng-model="vm.objEntity.editorial" ng-selected="editorial"
                            class="form-control"
                            ng-options="editorial.nombre for editorial in vm.lstEditorial">
                        {{editorial}}
                    </select>
                    <label>Editorial</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="checkbox" class="form-control" ng-model="vm.objEntity.activo">
                    <label>Activo</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" ng-click="vm.guardarAction()">Guardar
                        <i class="fa fa-paper-plane-o ml-2"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>


</div>
