<div ng-controller="EstanteriaController as vm">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Libreria</h1>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Estanterias
        </div>

        <div>
            <button ng-click="vm.buscarAction()">Estanterias</button>
            <button ng-click="vm.nuevoAction()">Nuevo</button>
        </div>

        <div class="panel-body" ng-if="!vm.objEntity">

            <table class="table table-striped b-t b-b">
                <tr>
                    <td>N&uacute;mero</td>
                    <td>Categor&iacute;a</td>
                    <td>Estado</td>
                    <td>Acci&oacute;n</td>
                </tr>
                <tr ng-repeat="autor in vm.lstEntities">
                    <td>{{autor.numero}}</td>
                    <td>{{autor.categoria.nombre}}</td>
                    <td>{{autor.activo}}</td>
                    <td>
                        <button data-ng-click="vm.editarAction(autor)">Editar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" ng-if="vm.objEntity">
            <form>

                <!-- Material input text -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.numero">
                    <label>N&uacute;mero</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>

                    <select name="categoria" ng-model="vm.objEntity.categoria" ng-selected="categoria" class="form-control"
                            ng-options="categoria.nombre for categoria in vm.lstCategorias" >
                        {{categoria}}
                    </select>

                    <label>Categor&iacute;a</label>
                </div>


                <!-- Material input subject -->
                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>

                    <input type="checkbox" class="form-control small" ng-model="vm.objEntity.activo">
                    <label>Estado</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" ng-click="vm.guardarAction()">Guardar
                        <i class="fa fa-paper-plane-o ml-2"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>


</div>
