<div ng-controller="LibroController as vm">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Libreria</h1>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Libros
        </div>

        <div>
            <button ng-click="vm.buscarAction()">Libros</button>
            <button ng-click="vm.nuevoAction()">Nuevo</button>
        </div>

        <div class="panel-body" ng-if="!vm.objEntity">

            <table class="table table-striped b-t b-b">
                <tr>
                    <td>Categoria</td>
                    <td>Editorial</td>
                    <td>Isbn</td>
                    <td>T&iacute;tulo</td>
                    <td>P&aacute;ginas</td>
                    <td>Activo</td>
                    <td>Acci&oacute;n</td>
                </tr>
                <tr ng-repeat="autor in vm.lstEntities">
                    <td>{{autor.editorialCategoria.categoria.nombre}}</td>
                    <td>{{autor.editorialCategoria.editorial.nombre}}</td>
                    <td>{{autor.isbn}}</td>
                    <td>{{autor.titulo}}</td>
                    <td>{{autor.paginas}}</td>
                    <td>{{autor.activo}}</td>
                    <td>
                        <button data-ng-click="vm.editarAction(autor)">Editar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" ng-if="vm.objEntity">
            <form>

                <!-- Material input text -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <select name="editorial" ng-model="vm.objEntity.editorialCategoria" ng-selected="editorial"
                            class="form-control"
                            ng-options="editorial.categoria.nombre  for editorial in vm.lstEditorialCategoria">
                        {{editorial}}
                    </select>
                    <label>Editorial - Categoria</label>
                </div>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.isbn">
                    <label>ISBN</label>
                </div>

                <!-- Material input subject -->
                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.titulo">
                    <label>T&iacute;tulo</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" class="form-control" ng-model="vm.objEntity.paginas">
                    <label>P&aacute;ginas</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="checkbox" class="form-control" ng-model="vm.objEntity.activo">
                    <label>Activo</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" ng-click="vm.guardarAction()">Guardar
                        <i class="fa fa-paper-plane-o ml-2"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>


</div>
