<div ng-controller="LibroautorController as vm">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Libreria</h1>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            Libro Autores
        </div>

        <div>
            <button ng-click="vm.buscarAction()">Libro Autores</button>
            <button ng-click="vm.nuevoAction()">Nuevo</button>
        </div>

        <div class="panel-body" ng-if="!vm.objEntity">

            <table class="table table-striped b-t b-b">
                <tr>
                    <td>Libro</td>
                    <td>Autor</td>
                    <td>Activo</td>
                    <td>Acci&oacute;n</td>
                </tr>
                <tr ng-repeat="autor in vm.lstEntities">
                    <td>{{autor.libro.titulo}} - {{autor.libro.isbn}}</td>
                    <td>{{autor.autor.nombre}} {{autor.autor.apellido}}</td>
                    <td>{{autor.activo}}</td>
                    <td>
                        <button data-ng-click="vm.editarAction(autor)">Editar</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel-body" ng-if="vm.objEntity">
            <form>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <select name="libro" ng-model="vm.objEntity.libro" ng-selected="libro"
                            class="form-control"
                            ng-options="libro.titulo  for libro in vm.lstLibros">
                        {{libro}}
                    </select>
                    <label>Libro</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <select name="autor" ng-model="vm.objEntity.autor" ng-selected="autor"
                            class="form-control"
                            ng-options="autor.nombre  for autor in vm.lstautores">
                        {{autor}}
                    </select>
                    <label>Autor</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="checkbox" class="form-control" ng-model="vm.objEntity.activo">
                    <label>Activo</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" ng-click="vm.guardarAction()">Guardar
                        <i class="fa fa-paper-plane-o ml-2"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>


</div>
