<div class="padder">

    <form name="person_validator" class="form-validation">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        <div ng-if="!person_validator.$invalid && vm.numeroValidado ? (valorValidador=true):(valorValidador=false)">
        </div>


        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="formA">
                    <label class="col-sm-4">PRIMER NOMBRE: </label>
                    <input class="col-sm-2 form-control" style="text-transform:uppercase" type="text"
                           ng-model="personDirective.firstName" placeholder="ingrese el primer nombre"
                           ng-disabled="activeDirective" required/>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <label class="col-sm-4">SEGUNDO NOMBRE: </label>
                    <input class="col-sm-2 form-control" style="text-transform:uppercase" type="text"
                           ng-model="personDirective.secondName" placeholder="ingrese el segundo nombre (opcional)"
                           ng-disabled="activeDirective"/>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <label class="col-sm-4 control-label">PRIMER APELLIDO: </label>
                    <input style="text-transform:uppercase" type="text" ng-model="personDirective.firstLastName"
                           class="form-control" placeholder="ingrese el primer apellido" ng-disabled="activeDirective"
                           required/>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <label class="col-sm-4 control-label">SEGUNDO APELLIDO: </label>
                    <input style="text-transform:uppercase" type="text" ng-model="personDirective.secondLastName"
                           class="form-control" placeholder="ingrese el segundo apellido (opcional)"
                           ng-disabled="activeDirective" required/>
                    <div class="line line-dashed b-b line-lg pull-in"></div>


                    <label class="col-sm-4 control-label">Identificaci&oacute;n: </label>
                    <div class="panel-body">
                        <div class="col-sm-2">
                            <div ng-repeat="catTId in catalogIdTypeList" class="row-fluid">
                                <div ng-init="catTId.id==personDirective.catalogIdentificationType.id?(catTId=personDirective.catalogIdentificationType):''"/>
                                <label class="i-checks">
                                    <input type="radio" ng-model="personDirective.catalogIdentificationType"
                                           value="catTId" ng-value="catTId" required/>
                                    <i></i> {{catTId.name}}
                                    <br/>
                                </label>
                            </div>
                        </div>

                        <div class="col-sm-10">

                            <input type="text"

                                   ng-model="personDirective.identificationNumber"
                                   class="form-control" placeholder=""
                                   required ng-maxlength="15" maxlength="15"/>
                        </div>
                    </div>

                    <div>
                        <label class="col-sm-2 control-label">DIRECCI&Oacute;N: </label>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <input type="text" ng-model="personDirective.address" class="form-control"
                                   placeholder="ingrese la direccion" ng-disabled="activeDirective" required/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-sm-6">
                <form role="forB">

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div>
                        <label class="col-sm-4 control-label">FECHA DE NACIMIENTO:</label>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                            <div class="input-group w-md">
                                <input type="text" class="form-control" ng-disabled="activeDirective"
                                       datepicker-popup="{{format}}" ng-model="personDirective.birthDate"
                                       is-open="opened" datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close"/> <span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="open($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div>
                        <label class="col-sm-2 control-label">SEXO: </label>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-10">
                            <div class="row-fluid" ng-repeat="catSex in catalogSexList">
                                <label class="i-checks">
                                    <div ng-init="catSex.id==personDirective.catalogSex.id?(catSex=personDirective.catalogSex):''"/>
                                    <input type="radio" ng-model="personDirective.catalogSex" ng-value="catSex"
                                           ng-disabled="activeDirective" required/> <i></i>
                                    {{catSex.name}}<br/>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div>
                        <label class="col-sm-2 control-label">ESTADO CIVIL: </label>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-10">
                            <div class="row-fluid"
                                 ng-repeat="catMaritalStatus in catalogMStatusList">
                                <label class="i-checks">
                                    <div ng-init="catMaritalStatus.id==personDirective.catalogMaritalStatus.id?(catMaritalStatus=personDirective.catalogMaritalStatus):''"/>
                                    <input type="radio"
                                           ng-model="personDirective.catalogMaritalStatus"
                                           ng-value="catMaritalStatus" ng-disabled="activeDirective" required/>
                                    <i></i> {{catMaritalStatus.name}}<br/>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>
